html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.montserrat {
    font-family: Montserrat;
}

.peachpuff {
    color: peachpuff;
}

/* Navigation Bar */
.navbar {
    padding: 1.5rem;
    background-color: peachpuff;
}

.navbar-brand a{
    font-size: 1.5rem;
    color: #634978;
    transition: .5s color;
    margin-left: 10%;
}

.navbar-brand a:hover {
    font-size: 1.5rem;
    color: #89729c;
    text-decoration: none;
    transition: .5s color;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 300;
    margin: auto 1.5rem;
    transition: color .5s;
}


/* Header */
.header {
    background: url('images/header1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: peachpuff;
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
    height: 900px;
    color: #634978;
    font-family: Work Sans;
}

.header h1 {
    font-family: Caveat;
    font-size: 5rem;
}

.header .btn {
    border: 1px solid peachpuff;
    background-color: peachpuff;
    border-radius: 100%;
    color: #634978;
    width: 60px;
    height: 60px;
    font-family: Montserrat;
    font-size: 2rem;
    text-align: center;
    box-shadow: -5px -5px 5px rgb(253, 226, 205), 5px 5px 5px rgb(255, 196, 144);
}

.header .btn:hover {
    border: 1px solid peachpuff;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    box-shadow: 5px -5px 5px rgb(255, 196, 144), -5px 5px 5px rgb(255, 196, 144), -5px -5px 5px rgb(255, 196, 144), 5px 5px 5px rgb(255, 196, 144);
}

.header p {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 1rem auto;
}

.header-content {
    padding: 10%;
}

/* Description */
.desc {
    background-color: #634978;
    color: peachpuff;
    padding: 10%;
    font-family: Work Sans;
    text-align: center;
}

.desc h3 {
    margin-bottom: 1.5rem;
    font-family: Caveat;
    font-size: 3rem;
}

.desc p {
    font-size: 1.25rem;
}

.fa-seedling {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Education */
.education {
    background-color: peachpuff;
    color: #634978;
    padding: 10rem;
    font-family: Work Sans;
    font-size: 1.2rem;
}

.education table {
    margin: 0 auto;
}

.education h3 {
    font-family: Caveat;
    font-size: 3rem;
}

.ui {
    background-color: rgb(253, 175, 144);
}

.sman3 {
    background-color: rgb(253, 199, 178);
}

.nassa {
    background-color: rgb(255, 213, 196);
}

.first-td {
    padding: 20px;
}

.second-td {
    padding: 7px 20px 7px 2rem;
}

.sub-td {
    font-size: 0.8rem;
    color: #89729c !important;
    margin-top: -7%;
    margin-bottom: auto;
}

.education i {
    font-size: 3rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
}


/* Hobbies */
.hobby {
    background-color: lightsalmon;
    color: #634978;
    padding: 10rem;
    font-family: Work Sans;
}

.hobby h3 {
    font-family: Caveat;
    font-size: 3rem;
    text-align: center;
}

.hobbies {
    text-align: center;
}

.hobbies i {
    font-size: 4rem;
    margin: 1.5rem !important;
}

/* Projects Page */
.project {
    margin: 0 auto;
    padding: 5%;
    border-radius: 10px;
}

.project i {
    font-size: 3rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
}

.project h3 {
    font-family: Caveat;
    font-size: 3rem;
}

.projects {
    text-align: center;
}

.projects img {
    width: 500px;
    border-radius: 10px;
}

.header-project {
    background-color: peachpuff;
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
    height: auto;
    color: #634978;
    font-family: Work Sans;
}

/* Projects Modal */
.projects-modal {
    text-align: center;
    padding: 10%;
    background-color: peachpuff;
}

.btn-projects {
    background-color: #634978;
    font-family: Work Sans;
    font-size: 1.5rem;
    color: peachpuff;
    padding: 2rem;
    border: 0;
}

.projects-modal .btn:hover {
    background-color: lightsalmon;
    color: #634978;
    border: 0px;
}

.modal-title {
    font-family: Work Sans;
    color: #634978;
}

.modal-footer .btn {
    background-color: #634978;
    font-family: Work Sans;
    color: peachpuff;
    border: 0;
}

/* Carousel */
.carousel-inner img{
    border-radius: 10px;
}

.carousel-item h4 {
    font-family: Work Sans;
    color: #634978;
    margin: 1rem;
}

/* Footer */
.footer {
    background-color: #634978;
    padding: 2rem;
    text-align: center;
    font-family: Work Sans;
    font-size: 2rem;
    color: peachpuff;
}

.footer a {
    color: peachpuff;
    margin: 1rem;
    transition: color .5s;
}

.footer a:hover {
    color: lightsalmon;
    text-decoration: none;
    transition: color .5s;
}

/* Responsive */
@media (max-width: 900px) {

    .navbar-collapse {
        background-color: peachpuff;
        border-radius: 10px;
    }

    .header-content {
        background-color: peachpuff;
        border-radius: 10px;
        margin-top: 10%;
    }

    .header-content p {
        font-size: 1rem;
    }

    .desc {
        padding: 35% 20% !important;
    }

    .desc p {
        text-align: justify;
        font-size: 1rem !important;
    }

    .projects img {
        width: 300px;
    }

}